---
layout: default
---
<header>

  <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

  <h1>{{ site.title }}</h1>
  <p>

     <a href="papers.html">Papers</a>
    | <a href="classes.html">Classes</a>
    | <a href="public-data-bases.html">Public Data Bases</a>
    | <a href="notes.html">Notes</a>
    | <a href="me-myself-I.html">Me, myself & I</a>

    {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
    {% endif %}
</header>


<body>
  <p>
    © 2020
      <a href="home.html">Alejandro Rodiño</a>
    | <a href="mailto:arodino@fen.uchile.cl">Email</a>
    | <a href="https://github.com/AlejandroRodino/">Github</a>
    | <a href="#nombre_del_marcador ">Linkedin</a>


    <p>
</body>
